{% load static %}
<html>
    <head>
        <title>FROEN's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1>FROEN's Blog</h1>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <p>Hello, World!</p>
        <p>This is amazing!</p>
    </body>
        </html>