<html>
    <head>
        <title>FROEN's Blog</title>
    </head>
    <body>
        <div>
            <h1>FROEN's Blog</h1>
        </div>
        <div>
            {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>    
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
        </div>
        <p>Hello, World!</p>
        <p>This is amazing!</p>
    </body>
        </html>